/* styles.css */
body {
  font-family: 'Arial', sans-serif;
  background-image: url('animated.gif');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  padding-left: 5%;
  height: 100vh;
  background-attachment: fixed;
}

.content-container {
  max-width: 640px; /* Adjust the max width as needed */
}

.title {
  color: #000000; /* This is Tailwind's gray-800 */
  font-size: 3.25rem; /* This is Tailwind's text-4xl */
  font-weight: bold;
  margin-bottom: 1rem; /* This is Tailwind's mb-4 */
}
.title2 {
  color: #000000; /* This is Tailwind's gray-800 */
  font-size: 3.07rem; /* This is Tailwind's text-4xl */
  font-weight: bold;
  margin-bottom: 1rem; /* This is Tailwind's mb-4 */
}

.description {
  color: #4a5568; /* This is Tailwind's gray-700 */
  margin-bottom: 1rem; /* This is Tailwind's mb-4 */
}
